<div class="side_menu">
    <a class="logo" href="#">
        <img src="img/logo.png" alt="">
    </a>
    <ul class="list menu_right">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/menu/">Menu</a>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <ul class="list">
                <li>
                    <a href="/book-table/">Lap. Penjualan /Menu /Layanan</a>
                </li>
                <li>
                    <a href="/book-table/book-use-raw/">Lap. Summary Pemakaian Bahan</a>
                </li>
                <li>
                    <a href="/book-table/book-pay/">Lap. Summary Pembayaran</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
    <ul class="list social">
        <li>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-dribbble"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-behance"></i>
            </a>
        </li>
    </ul>
</div>